.html,
body {

    margin: 0px;
    padding: 0px;

    overflow: scroll;
    width: 100%;
    height: 100%;
}

.main {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;

}

.bars {
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #606367;
    cursor: pointer;


}

.title {

    position: relative;
    left: 40px;
    cursor: pointer;
    font-size: 1.375em;
    font-weight: 400;
    color: #3c4043;
    line-height: 1.75rem;
    font-family: "Google Sans", Roboto, Arial, sans-serif;

}

.main2 {
    
    position: relative;
    right: 10px;
    bottom:40px;
    font-size: 0.875em;
    color: #606367;
    display: flex;

}



.nine {
    font-size: 20px;

}

.face {
    cursor: pointer;
    border-radius: 30px;
    margin-left: 25px;
}

.log {
    cursor: pointer;
    display: flex;
    align-items: center;

    position: relative;
    right: 25px;
}

.line {
    border-top: 1px solid black;
    position: relative;
    top: 13px;
    border-color: #e0e0e0;
    display: block;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(89 156 172);
    position: relative;
    left: 25px;
    top:1.6vw;
    
}

.main1 {

    margin-top: 30px;
}

.LLL {
    position: relative;
    left: 11px;
    top: 8px;
    color: white;
    font-size: 22px;

    
}


.main2 {
    margin-left: 90px;
    width: 100%;
    display: flex;
    
}

.Balanced {
    display: flex;
    align-items: center;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 0;

}

.mainn {

    margin-top: 2px;
    width: 50%;


}

.THREEE {
 
    font-size: 20px;
    margin-left: 19vw;
    display: flex;
    position: relative;
    top:43px;
    right:20vw;
    cursor: pointer;
   
}

.A {
    display: flex;
    align-items: center;

}

.DATE {
    margin: 0;
    height: 23%;
}

.month {
    margin: 0;
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;

}

.SCORE{
    position: relative;
    bottom:35px;
   display: flex;
   
}

.score100{
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight:bold;
    line-height: 1.25rem;
    color: #3c4043;
    
    
  
}

.Line2{
    border-top: 1px solid black;
    position: relative;
    bottom:1.5vw;
    border-color: #599cac;
    width: 40vw;
 
    
}

.C1,
.C2,
.C3,
.C4,
.C5,
.C6,
.C7{
    margin:0;

    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
}

.AllC{
    margin-bottom:20px; 
}

.evaluation{
    border: 1px solid  rgb(210, 209, 209);
    height: 3.5vw;
    width: 48%;
    border-radius: 8px;
   display: flex;
    margin-bottom:20px;
}

.TEST{
    width: 28%;
    border-radius: 5px 0 0 5px;
}

.evaluation_criteria_table{
    
     
    letter-spacing: .00625em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.95rem;
    font-weight:550;
    line-height: 1.5rem;
    color: #3c4043;
    margin:0;
    display: flex;
    align-items: center;
    position: relative;
    left:10px;
}

.MOVE11{
  position: relative;
  bottom:21px;
}

.Movecontent{
  margin-top:8px;
}

.ima{
    margin:0;
    position: relative;
    left:10px;
}

.line22{
    border: 0.5px solid  #e9eaed;
    position: relative;
    bottom:10px;
}

.comment{
    display: flex;
    align-items: center;
    position: relative;
    bottom:7px;
}
.USER{
    margin-right:10px;
}