.html,
body {

    margin: 0px;
    padding: 0px;

    overflow: scroll;
    width: 100%;
    height: 100%;
}

.main {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.bars {
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #606367;
    cursor: pointer;



}

.title {

    position: relative;
    left: 40px;
    cursor: pointer;
    font-size: 1.375em;
    font-weight: 400;
    color: #3c4043;
    line-height: 1.75rem;
    font-family: "Google Sans", Roboto, Arial, sans-serif;

}

.main2 {
    text-align: center;
    position: relative;
    right: 50px;

    font-size: 0.875em;
    color: #606367;
    display: flex;

}

.six {
    position: relative;


}

.T1,
.T2,
.T3 {
    cursor: pointer;
}

.T2 {
    padding-right: 50px;
    padding-left: 50px;


}

.nine {
    font-size: 20px;

}

.face {
    cursor: pointer;
    border-radius: 30px;
    margin-left: 25px;
}

.log {
    cursor: pointer;
    display: flex;
    align-items: center;

    position: relative;
    right: 25px;
}

.line {
    border-top: 1px solid black;
    position: relative;
    top: 13px;
    border-color: #e0e0e0;

}

.BookDraw {
    display: flex;
    justify-content: center;
    direction: column;

}

.Book {
    position: relative;
    top: 36px;
    border-radius: 10px;

}

.CLN {
    position: relative;
    z-index: 1;
}

.classnum {


    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: white;
    font-size: 2.25rem;

    line-height: 2.75rem;
    font-weight: 500;
    position: relative;
    bottom: 28px;
    left: 23px;

}

.work {
    display: block;
    font-size: 0.875rem;
    color: #818385;
    position: relative;
    left:18px;
    top:12px;
   

}

.small1,
.small2 {
    font-size: 0.8125rem;
    color: #bababa;
    
}

.small1{
    position: relative;
    left:17px;
    top:10px;
  
   
}

.small2{
    position: relative;
    top:10px;
    left:17px;
}

.All {
    cursor: pointer;
    position: relative;
    left: 120px;
    color: #427981;
    font-size:14px;
    
    height: 48px;
}

.Homework {

    position: relative;
    top: 12px;
    border: 0.5px solid #dbdce0;
    border-radius: 10px;
    width: 230px;
    height: 140px;
    


}
.Insert{
    
    display: flex;
   justify-content: center;

}

.write{
        display: flex;
        justify-content: center;
        align-items: center;
       width: 100%;
}

.contents{
    display: flex;
}

.insert{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    right:50px;
   
}

.write{

    cursor: pointer;
    position: relative;
    left:50px;
    height: 70px;
    top:11px;
    width: 99%;
    border-radius: 7px;
    border: 0.5px solid #d2d3d3;
    text-indent: 70px;
    
}
.picture{
    position: relative;
    height: 40px;
    z-index: 1;
    display: flex;
    top:28px;
    left:110px;
    border-radius: 19px;
    

}

.AW{
   width: 100%;
}

.write2{
    cursor: pointer;
    position: relative;
    left:40px;
    height: 70px;
    top:11px;
    width: 95%;
    border-radius: 7px;
    border: 0.5px solid #d2d3d3;
    text-indent: 70px;
    margin-top:18px;
    
}



.T{
    width: 100%;
}

.Wrods{
    display: flex;
    align-items: center;
}

.HW{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

.Date{
    display: flex;
    align-items: flex-end;
    color:#696c70;
    font-size:0.75rem;
    position: relative;
    top:1px;
    
}

.move{
    position: relative;
    top:15px;
    
    
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(89 156 172);
    position: relative;
    left:20px;
    
}

.Two{
    position: relative;
    bottom:37px;

}







